@model Sarms.Domain.Core.Enrollment

@{
    ViewBag.Title = "Delete Enrollment";
}

<h2>Delete Enrollment</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Enrollment</legend>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
